.fill {
    position: absolute;
    inset: 0;
}

.page {
    --header-height: 6em;

    background-color: rgb(0 0 0 / 80%);
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

.image_background {
    z-index: -1;
    filter: blur(8px);
    object-fit: cover;
    object-position: center;
}

.header {
    position: fixed;
    display: flex;
    height: var(--header-height);
    align-items: center;
    padding-top: calc(2em + env(safe-area-inset-top));
    padding-bottom: calc(2em + env(safe-area-inset-bottom));
    padding-left: calc(2em + env(safe-area-inset-left));
    padding-right: calc(2em + env(safe-area-inset-right));
}

.title {
    font-size: 2em;
}

.content {
    margin-top: var(--header-height);
    padding: 2em;
    height: calc(100vh - var(--header-height));
    overflow: auto;
}

.movie_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.movie_list_item {
    max-width: 250px;
    flex: 1 1 250px;
}
